.statistics-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1em;
}

.statistics-detailed {
    font-size: larger;
}

.champion-image {
    width: 100%;
}

.abilities-video {
    margin: auto;
}